modules = ["nodejs-24", "javascript", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "Dladydcjs019!"
JWT_SECRET = "anbu-admin-jwt-secret-2024"
EXPO_PUBLIC_NAVER_MAP_CLIENT_ID = "rg1fro3mez"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "589055853445-2p9cqa4rnoc3n5bv90t3r91gjad2jjs5.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID = "589055853445-2p9cqa4rnoc3n5bv90t3r91gjad2jjs5.apps.googleusercontent.com"

[nix]
channel = "stable-25_05"
